.body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
.producto{
    margin: 2%;
    height: 100vh !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }
 .taquito{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-block: 5px;
    width: 150px;
    height: 100px;
 }
 .container{
    float : left;
    width: 100%;
    background-color: darkcyan;
     border: 1px solid cornflowerblue;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn{
    margin:10px;
    width: 100px;
    height: 40px;
    background-color: chocolate;
    border-radius: 10px;
    box-shadow: 10px;
    color: aquamarine;
    font-size: 16px;
    font-weight: 600;
}
