<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/css/style_carrito.css">
</head>
<body>
  <header>
    <div class="topnav logo-nav-container row">
        <div class="logo col-2"> 
            <img src="./static/imagenes/logo-tacos.png" width="200" height="90" />
        </div>
        <div class="Carrito col-10">
          <h1 style="text-align: center;">Carrito de compras</h1>
        </div>
    </div>  
  </header>
  <div class="row">
    <div class="col col-9 precio">
      <h6>Precio</h6>
    </div>
    <div class="producto col-9">
      <div class="container"><!-- tarjetas -->
        <div class="row">
          <div class="col-2" style="padding-left: 0;">
              <img class="taquito" src="static/img/logo-tacos.png">
          </div>
          <div class="col-5">
            <h1>Nombre</h1>
          </div>
          <div class="col align-self-center">
            <div>
              <h5>Cantidad</h5>
            </div>
            <div class="btn-group">
              <button type="button" class="left"><i class="fa-solid fa-minus"></i></button>
              <input type="text" name="" id="">
              <button type="button" class="right"><i class="fa-solid fa-plus"></i></button>
            </div>
          </div>
          <div class="col col-lg-2 align-self-center">
            <h3>$20.00</h3>
          </div>
        </div>
      </div>

      <div class="container"><!-- tarjetas -->
        <div class="row">
          <div class="col-2" style="padding-left: 0;">
              <img class="taquito" src="static/img/logo-tacos.png">
          </div>
          <div class="col-5">
            <h1>Nombre</h1>
          </div>
          <div class="col align-self-center">
            <div>
              <h5>Cantidad</h5>
            </div>
            <div class="btn-group">
              <button type="button" class="left"><i class="fa-solid fa-minus"></i></button>
              <input type="text" name="" id="" value="1">
              <button type="button" class="right"><i class="fa-solid fa-plus"></i></button>
            </div>
          </div>
          <div class="col col-lg-2 align-self-center">
            <h3>$20.00</h3>
          </div>
        </div>
      </div>

    </div>
    <div class="left-menu col-3">
      <div class="total">
        <h2>Subtotal: $20.00</h2>
        <button type="button" class="btn btn-warning">Proceder al pago</button>
      </div>
    </div>
  </div>

</body>

<script src="https://kit.fontawesome.com/ce1ae3c06d.js" crossorigin="anonymous"></script>
</html>