<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{{ data | json_script:"mydata" }}


<body>
    <h1>{{data}}</h1>
    <script>
        const dads = document.querySelector('h1')
        const mydata = JSON.parse(JSON.parse(document.getElementById('mydata').textContent))    //por algun motivo necesita doble JSON.parse, el primero parece
        console.log(mydata)                                                                     //que limpia la entrada y el segundo lo convierte en json (?)
        dads.textContent = mydata[0].fields.alim_nombre
    </script>
</body>
</html>