<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamburguesa</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="static/css/style_pagos.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="general">
    <div class="titulo">
        <font color="#FFFFF">Pagos</font>
        
    </div> 
    <div class="datos">
        <h1>DATOS DEL ENVIO</h1>
        <input type="text" id="inputNombre" placeholder="Nombre Completo"><br></br>
        <input type="text" id="inputTel" placeholder="Telefono"><br></br>
        <input type="text" id="inputDir" placeholder="Direccion"><br></br>
        <input type="text" id="inputPostal" placeholder="Codigo postal"><br></br>
        <a href="#" class="btn btn-primary">Guardar</a>
    </div>
    <div class="metodo">
        <h1>Metodo de pago</h1>
        <div class="cards">
          <div class="card mx-auto" style="width: 25rem;">
              <div class="card-body">
                <h5 class="card-title">Tarjeta de credito</h5>
                <img class="card-img-top" src="static/img/Visa-MasterCard.png" alt="Card image cap">
                <a  href="#" class="btn btn-primary">Pagar</a>
              </div>
          </div>
          <div class="card mx-auto" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Tarjeta de debito</h5>
              <img class="card-img-top" src="static/img/Visa-MasterCard.png" alt="Card image cap">
              <a href="#" class="btn btn-primary">Pagar</a>
            </div>
          </div>
          <div class="card mx-auto" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Pay Pal</h5>
              <img class="card-img-top" src="static/img/paypal.jpg" alt="Card image cap">
              <a href="#" class="btn btn-primary">Pagar</a>
            </div>
          </div>
        </div>
    </div>
  </div>
</body>
</html>